@charset "utf-8";
/* CSS Document */
body{-webkit-tap-highlight-color: rgba(0,0,0,0); margin:0; padding:0px;}
.logo{ width:auto; height:auto; margin:auto; padding:0px; text-align:center;}

.form{ width:91%; margin:auto; padding:1%; background-color:#CCC; border-radius:10px;}
.form input{ background-color:none !important; margin:10px auto; width:90% !important; }
.form, h1 label{ padding:10px; text-align:left;}

.orderToday{ width:25%; position:fixed;  color:#000; font-weight:bold; border:1px solid #FFF; display:block; height:auto; padding:10px; background-color:#FC3; border-radius:20px; font-size:.8em;}



.free{ width:90%; padding:5%; margin:0; overflow:hidden; border-radius:5px; height:auto; float:left; clear:both; background-color:#F90;}
label{ color:#336699; font-size:1em; padding:5px 0; text-shadow:none; text-align:left; float:left; width:auto;}

.free input{ width:auto; display:block; text-shadow:none; clear:both; border:none; margin:25px 0; padding:0;  border-radius:2px; background-color:#FFF}
.free input[type=color]{ padding:0px; height:50px; width:100%;}
.free p{ text-shadow:none; font-family:"Arial Black", Gadget, sans-serif; font-size:1.2em;}

h1{ margin:5px;}
br{ margin:36px;}
hr{  border: 0; height: 1px ; background: #333;}
#status{ position:fixed; top:0px; right:0px; background: #333; color:#CCC; padding:10px; z-index:1; border-radius:10px; font-size:.8em;}
.ui-mobile, .ui-page{
	background: linear-gradient(#000, #000) !important; background: -webkit-linear-gradient(#000, #000) !important;

}


.header {position:fixed;z-index:10;top:0;width:100%}
.content {padding:45px 15px}
.footer {position:fixed;z-index:10;bottom:0;width:100%}

.ui-page {
    -webkit-backface-visibility: hidden;
}
.ui-bar-b{ background:#F90 !important; border-color: #FC0 !important; font-size:1.2 em !important; text-shadow:none !important;}

/*color of font*/
a{ color:#111 !important;}
a:hover{ background-color: #CCC  !important; color: #333 !important; text-shadow:none; border: none;}
ul>li:first-child:hover a{color:#CCC !important; text-shadow:none; border-radius:10px 10px 0 0; z-index:5;}
ul>li:last-child:hover a{color: inherit !important; text-shadow:none; border-radius:0 0 10px 10px;}
#basic3d a:hover{ border-radius:10px;}

a:active{ background-color: #FF0;}
/*tel*/
#tel, #emailB{ color:white !important; font-size: 1.1em;}

#slogan > #emailB{ background: linear-gradient(#555, #999) repeat scroll 0 0 rgba(0, 0, 0, 0);
background: -webkit-linear-gradient(#555, #999);
    border-radius: 10px;
    box-shadow: 1px 2px 2px black;
    color: white;
    float: left;
    font-family: Verdana;
    display:block; height:50px;
    padding: 10px 0;
    text-decoration: none;
    width: 100%; margin:5px 0;}
   
    .bprice{ font-size:.8em !important; color:#444;}
h2{ color:#000;}
#slogan > #tel{ background: linear-gradient(#555, #999) repeat scroll 0 0 rgba(0, 0, 0, 0);
background: -webkit-linear-gradient(#555, #999);
    border-radius: 10px;
    box-shadow: 1px 2px 2px black;
    color: white;
    float: left;
    font-family: Verdana;
    
    padding: 10px 0;
    text-decoration: none;
    width: 49%; margin:5px .5%;}
    .btext{ font-size:.8em !important; padding:10px !important;}
    .bprice{ font-size:.8em !important; color:#444;}
	#slogan > #tel:nth-child(2){ width:49%; margin-left:0}
	#slogan > #tel:nth-child(3){ width:50%; margin-right:0}

#b{ min-height:20px !important;}
#b > p{ color:white; text-shadow:none; text-align:center; font-size:1em;}
#b > img{ border-radius:20px; box-shadow:1px 2px 2px #000000;}
#bb > p{ color:white; text-shadow:none; text-align:center; font-size:1em;}
#bb > img{ border-radius:20px; box-shadow:1px 2px 2px #000000;}

#services{ width:100%; height:auto; display:block; font-family:"Arial Black", Gadget, sans-serif; font-size:1.2em;}
#services ol{ text-align:left;}
#services ul, #services li{ padding:0px; margin:0px;}
#services li{ text-decoration:none; text-align:left; list-style:none;}


.sec{ margin:20px 0; padding:0px; width:100%; float:left; display:block;}

#slogan p{ width:auto; text-align:left; font-size:1.5em; margin:20px; float:left; display:block; line-height:30px; color:#336699;}
#slogan{
	width:auto; height:auto;
	font:Arial, Helvetica, sans-serif;
	border-radius:10px; padding:20px;
 font-size:.8em; color:white;
text-shadow:1px 1px 2px #000000; text-align:center;}
#latestJob{background: none repeat scroll 0 0 black; border: solid #999 1px 0px;
    margin: 10px 0;
    padding: 10px;
    text-align: center; display:none;
    width: auto; color:#FC0; clear:both; text-shadow:none; border-style:solid; border-width:1px 0px; border-color:#999;}
h2{ color:white; text-shadow:none;}

@media only screen and (min-width: 320px) {
	h1{ font-size:1.5em;}
	#tel, #emailB{ font-size:1em; height:50px; line-height:50px;}
	}
@media only screen and (min-width: 360px) {
	h1{ font-size:1.5em;}
	#tel, #emailB{ font-size:1.3em; height:50px; line-height:50px;}
	
	}







